.container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  padding: 0 50px;
  margin-top: 20px;
  gap: 1rem;
  position: relative;
  
}


.container img{
  width: 100%;
  max-width: 13rem;
  display: block;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 0.375rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}

.container strong{

  display: flex;
  margin-top: -2rem;
  align-items: center;
  justify-content: center;
  position: absolute;
 
 }

.link{
display: flex;
background: var(--blue-400);
color: var(--white);
text-decoration: none;
padding: 0.4rem;
align-items: center;
justify-content: center;
margin: 0 auto;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
margin-bottom: 1rem;
}
.link:hover{
  opacity: 0.7;
}
.loadingMovies{
  display: flex;
  margin: 1rem;
}

