.header{
  width: 100%;
  display: flex;
  margin: 0 auto;
  background: black; 
}
.logo{
  margin: 0 auto;
  padding-bottom: 2rem ;
}

.favorite{
  display: block;
  text-decoration: none;
  font-size: 0.900rem;
  padding: 0.375rem;
  border-radius: 5px;
  color: var(--gray-100);
  text-align: right;
  

}
.favorite:hover{

  color: var(--gray-900);
  transition: 0.5;
}

.divHead{
  background: black;
}